{% extends 'base.html' %}
{% block content %}
<div class='row justify-content-center' id='update-delete'>
<p>You have been logged out</p>
</div>
<div class='row justify-content-center'>
    <div class="col-sm-10 col-md-10" style="margin-top: 7%;">
        <a href="/accounts/login" class="btn btn-outline-info">Log In Again</a>
    <h5 style="margin-top:10%;color: black;">Don't have an account? <a href="/accounts/register" style="color:hotpink;">Sign up</a></h5>
</div>
</div>
{% endblock content %}