{% extends 'base.html'%}

{% block content %}
{{block.super}}

<body>

    <div class="container">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                
                {% for post in posts %}
                {% if user.profile.id == post.profile.id %}

                <div class="row">
                    <div class="card pt-3 mt-4">
                        <div class="card-header head">
                            <div>
                              <a href="/user/{{post.user.id}}">
                                {% if user.profile.profile_pic.url%}
            
            
                                <img src="{{user.profile.profile_pic.url}}" alt="" id="profilepic" class="img-fluid">
                                    {%else%}
                                    <img src="https://i.pinimg.com/474x/82/ab/35/82ab3533ee71daf256f23c1ccf20ad6f--avatar-maker.jpg" alt=""class="rounded-circle border"height="80" width="80" style="border-radius: 50%;">
                                      {%endif%}
                                    

                                </a>
                            </div>
                            <div>

                                <h3 style="margin-top:7%;letter-spacing:5px;font:bold;font-size: 50px;color: black;">{{user.username}}</h3>
                                <p class=" ml-3 pt-2"><small><strong>{{post.user.user}}</strong></small></p>
                                <p class=" ml-3"><small>{{post.name}}</small></p>
                            </div>
                            <div class="dots">
                                <a href="#" data-toggle="modal" data-target="#{{post.id}}"><i
                                        class="fas fa-ellipsis-h"></i></a>
                            </div>
                        </div>
                        <div class="card-header">
                            <img src="{{post.pic.url}}" alt="" id="post" class="img-fluid"> 
                        </div>
                        <div class="icon" >
                            <div class="flex">
                                <a href="post/{{post.id}}/like"><i class="fas fa-heart like_u"></i></a>
                                <a href="post/{{post.id}}/comment"> <i class="far fa-comment"></i></a>
                                <a href="#"><i class="fas fa-share-alt"></i></a>
                                <a href="#"><i class="far fa-bookmark"></i></a>
                             </div>
                             <div>
                                <p class="text-muted ml-3"><strong>{{post.name}}</strong> {{post.caption}}<br>
                                </p>
                            </div>
                                <p><strong class="ml-3 image_likes">
                                        <p>{{post.like_count.count}} <strong>Likes</strong></p>
                                        <span class="text-muted"> <a href="/post/{{post.id}}/comment">
                                            {%if post.comments.all|length > 3%}
                                            view all  {{post.comments.all|length}} comments
                                            {% else %}
                                            No comments yet click to add!
                                            {% endif %}
                                        </a></span>
                                </p>
  
                            </div>

                        </div>

                        

                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
            {%endblock%}